<tr id="<%= dom_id part %>" class="row">
  <td class="col p-3" >
    <%= link_to part.number, "/parts/#{part.id}" %>
  </td>

  <td class="col p-3">
    <%= part.category %>
  </td>

  <td class="col p-3">
    <%= link_to part.machine.name, "/machines/#{part.machine.id}" %>
  </td>

  <td class="col p-3">
    0
  </td>

</tr>