<div id="<%= dom_id part %>">
  <p>
    <strong>Number:</strong>
    <%= part.number %>
  </p>

  <p>
    <strong>category:</strong>
    <%= part.category %>
  </p>

  <p>
    <strong>Machine:</strong>
    <%= link_to part.machine.name, "/machines/#{part.machine.id}" %>
  </p>

</div>
