<table id="parts" class="table table-striped" style="margin: 0px 5px 0px 5px;">
  <tr class="row table-dark">
    <th scope="col" class="col p-3">Number</th>
    <th scope="col" class="col p-3">Category</th>
    <th scope="col" class="col p-3">Machine</th>
    <th scope="col" class="col p-3">Qty</th>
  </tr>
  <% @parts.each do |part| %>
    <%= render part %>
  <% end %>
</table>
<%= link_to "New part", new_part_path %>
