<div id="<%= dom_id part %>">
  <p>
    <strong>Number:</strong>
    <%= part.number %>
  </p>

  <p>
    <strong>category:</strong>
    <%= part.category %>
  </p>

  <p>
    <strong>Machine:</strong>
    <%= part.machine_id %>
  </p>

</div>
