/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * Variable declaration
 */

:root {
    --width: 30%;
    --height: 95%;
    --min-height: 40px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inline {
    display: inline-block;
}

.singular-wrapper {
    display: flex;
    flex-direction: column;
    width: var(--width);
    height: var(--height);
    margin: calc((100% - var(--height)) / 2) auto;
}

.singular-grouping {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    border: 1px solid black;
    border-radius: 5px;
}

.singular-row {
    display: flex;
    flex-direction: row;
    width:100%;
    border-bottom: 1px solid black;
    color: #212520;
    min-height: var(--min-height);
}

.singular-row:nth-child(even) {
    background-color: rgba(0,0,0, 0.05);
}
.singular-row:last-of-type {
    border-bottom: none;
}

.singular-left {
    display: inline-block;
    height: 100%;
    float: left;
    text-align: left;
    padding:5px;
    width: 50%;
    line-height: var(--min-height);
}

.singular-right {
    display: inline-block;
    height: 100%;
    float: right;
    text-align: right;
    padding: 5px;
    width: 50%;
    line-height: var(--min-height);
}

.singular-full {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    line-height: var(--min-height);
}

.btn-inline {
    display: inline;
    float: left;
    margin: 4px;
}

.btn-inline-right {
    display:inline;
    float: right;
    margin: 4px;
}