<tr id="<%= dom_id machine %>">
  <td class="col p-3" >
    <%= link_to machine.name, "/machines/#{machine.id}" %>
  </td>

  <td class="col p-3" >
    <%= machine.location %>
  </td>

  <td class="col p-3" >
    <%= machine.picture %>
  </td>
  
</tr>
