<div id="<%= dom_id machine %>">
  <p>
    <strong>Name:</strong>
    <%= machine.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= machine.location %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= machine.picture %>
  </p>

</div>
