<table id="parts" class="table table-striped" style="margin: 0px 5px 0px 5px;">
  <tr class="row table-dark">
    <th scope="col" class="col p-3">Name</th>
    <th scope="col" class="col p-3">Location</th>
    <th scope="col" class="col p-3">Picture</th>
  </tr>
  <% @machines.each do |machine| %>
    <%= render machine %>
  <% end %>
</table>
<%= link_to "New machine", new_machine_path %>
