<table id="parts" class="table table-striped">
  <tr class="table-dark">
    <th scope="col" class="col p-3"><%= link_to "Name", {:sort => "name"}, class: "no-link" %></th>
    <th scope="col" class="col p-3"><%= link_to "Location", {:sort => "location"}, class: "no-link" %></th>
    <th scope="col" class="col p-3">Picture</th>
  </tr>
  <% @machines.each do |machine| %>
    <%= render machine %>
  <% end %>
</table>
<%= link_to "New machine", new_machine_path %>
